/*************************************************
**************************************************

Website Name: Taylor Vision
Website URL: www.taylorvisionllc.com
Website Author: Claudia Tchokouani
Author URL: www.geekwayacademy.com
Copyright 2017. All Rights Reserved.

Color Guide
***************


*************************************************

Type Guide
***************
html
css
javascript

Debugging Tools
***************
border: 1px solid #fff;

*************************************************/

/************************************************
*************************************************
0. CSS Reset ------------------------ 
1. Universal Styles -----------------
2. Header & Nav Styles -------------- 
3. Main Body Styles ----------------- 
4. Sidebar Styles ------------------- 
5. Widget Styles --------------------
6. Footer Styles -------------------- 
7. Comments & Form Styles ----------- 
8. Generic Styles ----------- 
*************************************************
************************************************/

/*----------------------------------------------
------------------------------------------------
0. CSS Reset
------------------------------------------------
----------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*----------------------------------------------
------------------------------------------------
1. Universal Styles
------------------------------------------------
----------------------------------------------*/
html {
  background-color: white;
  color: #555;
  font-family: 'Lato', 'Arial' sans-serif; 
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}
body {
  
}
li {
  list-style: none;
}

nav,
div,
li,
main {
  margin-right: 30px;
  margin-left: 30px;
}

/*----------------------------------------------
------------------------------------------------
2. Header & Nav Styles
------------------------------------------------
----------------------------------------------*/
/*---HEADER----*/
header {
  height: 50px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
}
#nav-wecome {
  position: relative;
  display: block;
}
#nav-wecome h3 {
  padding-top: 15px;
}
.welcome-message {
  position: relative;
  text-align: center;
  color: black;
}

/*-----NAV----*/


nav {
  height: 200px;
  background-color: white;
}

#nav-menu {
  padding-top: 20px;
  float: right;
  padding-bottom: 50px;
}
.nav-menu-ulist {
  display: inline-flex;
}
.client-logo {
  position: relative;
  width: 250px;
  height: 200px;
  
}
.logo-list a {
  padding-right: 850px;
}


.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.notification-list {
  height: 50px;
}

/*----------------------------------------------
------------------------------------------------
3. Main Body Styles
------------------------------------------------
----------------------------------------------*/
main {
  background-image: url("../resources/img/construction_trends_bimcommunity.jpg");
}

.client-main-menu {
  height: 700px;
}

ul.main-menu-ulist {
  background-color: #ffffff;
  opacity: 0.4;
}

.main-menu-ulist {
  display: inline-flex;
  margin-top: 10px;
  padding: 270px 180px 280px 140px; /*top, left, bottom, right*/
}

.main-menu-ulist button {
  font-size: 1.2em;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 50px;
  padding-left: 50px;
  border-radius: 10px;
}

#request-list {
  padding-right: 40px;
}
/*----------------------------------------------
------------------------------------------------
4. Sidebar Styles
------------------------------------------------
----------------------------------------------*/

/*----------------------------------------------
------------------------------------------------
5. Widget Styles
------------------------------------------------
----------------------------------------------*/

/*----------------------------------------------
------------------------------------------------
6. Footer Styles
------------------------------------------------
----------------------------------------------*/
footer {
  background-color: #333;
  padding: 20px;
  font-size: 10px;
  margin-left: 30px;
  margin-right: 30px;
}
.footer-nav {
  list-style: none;
  float: left;
}
.social-links {
  list-style: none;
  float: right;
}
.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}
.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
}
.footer-nav li a:hover,
.footer-nav li a:active {
  color: #dddddd;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}

.ion-social-facebook,
.ion-social-instagram,
.ion-social-twitter,
.ion-social-youtube {
  transition: color 0.2s;
}

.ion-social-facebook:hover {
  color: #3b5998;
}
.ion-social-instagram:hover {
  color: #e95950;
}
.ion-social-twitter:hover {
  color: #55acee;
}
.ion-social-youtube:hover {
  color: #ff0000;
}

footer p {
  color: #888;
  text-align: center;
  margin-top: 20px;
  font-size: 10px;
}

/*----------------------------------------------
------------------------------------------------
7. Comments & Form Styles
------------------------------------------------
----------------------------------------------*/

/*----------------------------------------------
------------------------------------------------
8. Generic Styles
------------------------------------------------
----------------------------------------------*/
